@use "partials/variables" as*;
@use "partials/mixins" as *;

main {
    color: $main-color
}

p {
    @include main-coloring;
}

.container{
    max-width: 1400px;
}

*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    // selezonno qualunque cose che non sia un ul
    &:not(ul){
        padding:0;
    }
    
}