/*
-------------------------
        RESET
-------------------------
*/    

*{
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    // selezonno qualunque cose che non sia un ul
    &:not(ul){
        padding:0;
    }
    
}

.container{
    max-width: 1400px;
    margin: 0 auto;

}